.filterTop
  .row
    = form_for '', :url => customer_filter_customers_path, :method => 'post', :html => {:id => "filterFormId"}, :remote => true do
      .col-xs-12
        = text_field_tag :search, session[:customer_search],:class => "form-control",placeholder: t("general.search_name_or_city")
    %div{id: 'loader-image', class: 'loader'}
      = image_tag 'loader-small.gif'