- if @customers.present?
  - @customers.each do |customer|
    = render :partial => 'customer', :locals => {customer: customer}
  - if @customers.count > Settings.system.per_page
    - count = params[:page].to_i + 1
    = link_to next_customers_path(count), :remote => true, :class => "loadMore jscroll-next" do
      %i.downArrow
      = t("general.next")